<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <head>
        <link rel="stylesheet" href="../../style.css">
    </head>
    <body>
        <script data-goatcounter="https://services.opengamestudio.org:443/count" async src="//services.opengamestudio.org:443/count.js"></script>
        <div id="header">
            <div>
                <strong id="title">Open Game Studio</strong>
                <div id="lang">
                    <a href="../../en/game/PSKOV_ITEM_URL">EN</a>
                    <a href="../../ru/game/PSKOV_ITEM_URL">RU</a>
                </div>
            </div>
            <div class="header2">
                <div class="menu">
                    <a href="../../en/news/index.html">News</a>
                    <a href="../../en/game/index.html">Games</a>
                    <a href="../../en/tool/index.html">Tools</a>
                    <a href="../../en/page/about.html">About</a>
                </div>
                <a class="discord" href="https://discord.gg/3A6THQabNf">
                    <img src="../../images/discord.png"></img>
                </a>
                <div class="clear"></div>
            </div>
        </div>
        <center>
            <h1>In the games...</h1>
            <div class="news_item">
                <h2 class="news_item_title">
                    <a href="PSKOV_ITEM_URL">PSKOV_ITEM_TITLE</a>
                </h2>
                <div class="news_item_contents">
PSKOV_ITEM_CONTENTS
                </div>
            </div>
            <div id="disqus_thread"></div>
            <script>
                var disqus_config = function () {
                this.page.url = "https://opengamestudio.org/en/game/PSKOV_ITEM_URL";
                this.page.identifier = "PSKOV_ITEM_URL";
                };
                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://opengamestudio.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <div id="footer">
                The site has been generated by <a href="http://opengamestudio.org/pskov">PSKOV</a>
                from <a href="http://github.com/ogstudio/site-opengamestudio">this source code</a>.
                The site is hosted by <a href="https://pages.github.com">GitHub Pages</a>.
            </div>
        </center>
    </body>
</html>
