AMLEO Style
figcaption
{
    color: #aaa;
}

table
{
    border-collapse: collapse;
}

table, th, td
{
    border: 1px solid #aaa;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
