<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <head>
        <link rel="stylesheet" href="../../style.css">
    </head>
    <body>
        <script data-goatcounter="https://services.opengamestudio.org:443/count" async src="//services.opengamestudio.org:443/count.js"></script>
        <div id="header">
            <div>
                <strong id="title">Open Game Studio</strong>
                <div id="lang">
                    <a href="../../en/news/PSKOV_INDEX_URL">EN</a>
                    <a href="../../ru/news/PSKOV_INDEX_URL">RU</a>
                </div>
            </div>
            <div class="header2">
                <div class="menu">
                    <a href="../../ru/news/index.html">Новости</a>
                    <a href="../../ru/game/index.html">Игры</a>
                    <a href="../../ru/tool/index.html">Инструменты</a>
                    <a href="../../ru/page/about.html">О нас</a>
                </div>
                <a class="discord" href="https://discord.gg/3A6THQabNf">
                    <img src="../../images/discord.png"></img>
                </a>
                <div class="clear"></div>
            </div>
        </div>
        <center>
            <h1>Новости</h1>

PSKOV_PREVIEWS
PSKOV_PAGINATION

            <div id="footer">
                Сайт сгенерирован <a href="http://opengamestudio.org/pskov/ru">ПСКОВОМ</a>
                из <a href="http://github.com/ogstudio/site-opengamestudio">этого исходного кода</a>.
                Сайт размещён на <a href="https://pages.github.com">GitHub Pages</a>.
            </div>
        </center>
    </body>
</html>
